body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background: linear-gradient(-120deg, #021b79, #0575e6, #205e9b);
}

html,
body,
#root,
#root > div {
    height: 100%;
    margin: 0;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    border: 5px solid rgba(0, 0, 0, 0.8);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:active {
    background-color: red;
    outline: none;
}

/* .kbd-navigation .square:focus { */
/*     background: #ddd;           */
/* }                               */

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-info {
    margin-left: 20px;
}
